body
{
  /* background-color: #ffffff; */
  color: #AAA;
  display: flex;
   flex-direction: column;
   overflow: hidden;
}



 body
{
   /* content: ' '; */
   /* background-image: url(../../assets/images/background.png); */
   background-color: transparent;
   /* background-size: cover;
   background-repeat: no-repeat;
   background-attachment: fixed; */
   display: block;
   position: fixed;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
}

html, body, input, select, textarea
{
   font-family: Exo-Bold;
   font-weight: 400;
   font-size: 0.9rem;
   line-height: 1.65;
}

.selected
{
   background-color: rgba(255, 255, 255, 0.4) !important;
}

.title
{
   font-family: Exo-Bold;
   font-weight:1000;
   font-size: 7rem;
   color: rgba(255, 255, 255, 0.7);
/*   text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;*/
}

.example_wrapper
{
   flex-grow: 1;
}



.no_events
{
   pointer-events: none;
}

.square-24 {
  width: 24px;
  height: 24px;
  opacity: 0.8;
}
